@charset "UTF-8";
/* CSS Document */


.Main {

	width:100px;
	height:100px;
}
.node1:after{
	font-size:40px;
	position: relative;
	top: 20%;
	margin-left:0px;

}
.node2:after{
	font-size:40px;
	position: relative;
	top: 30%;
	margin-left:40px;
	color:red;
}
.node3:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;
}
.node4:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;
}
.node5:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;
}
.node6:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;
}
.node7:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;
}
.node8:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;
}
.node9:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;
}
.node10:after{
	font-size:40px;
	position: relative;
	top: 30%;
	color:red;
	margin-left:40px;

}
.node11:after{
	font-size:40px;
	position: relative;
	top: 30%;
	margin-left:30px;
	color:red;

}
.node12:after{
	font-size:40px;
	position: relative;
	top: 30%;
	margin-left:30px;
	color:red;

}
.node13:after{
	font-size:40px;
	position: relative;
	top: 30%;
	margin-left:30px;
	color:red;

}
.node14:after{
	font-size:40px;
	position: relative;
	top: 30%;
	margin-left:30px;
	color:red;

}
.node15:after{
	font-size:40px;
	position: relative;
	top: 30%;
	margin-left:30px;
	color:red;

}

.node64:after{
	font-size: 40px;
	position: relative;
	top: 30%;
	margin-left: 0px;

}

#output {
	font-size:36px
}

